<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
  <!-- Favicon -->
  <!-- <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css"> -->
  <!-- Custom styles -->
  <!-- <link rel="stylesheet" href="css/style.min.css"> -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/fontawesome-free-6.2.1-web/css/all.min.css">
</head>

<body>
  <div class="layer"></div>
  <!-- ! Body -->
  <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
  <div class="page-flex">
    <!-- ! Sidebar -->
    <aside class="sidebar">
      <div class="sidebar-start">
        <div class="sidebar-head">
          <a href="/" class="logo-wrapper" title="Home">
            <span class="sr-only">Home</span>
            <!-- <span class="icon logo" aria-hidden="true"></span> -->
            <div class="llogo">
              <img src="img/logo.png">
            </div>
            <div class="logo-text">
              <span class="logo-title">SquadCloud</span>
              <span class="logo-subtitle">Dashboard</span>
            </div>

          </a>
          <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
            <span class="sr-only">Toggle menu</span>
            <!-- <span class="icon menu-toggle" aria-hidden="true"></span> -->
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
        <div class="sidebar-body">
          <ul class="sidebar-body-menu">
            <li>
              <a href="index.html"><i class="fa-solid fa-house"></i> Dashboard</a>
            </li>

            <li>
              <a href="tables.html"><i class="fa-solid fa-table-columns"></i> Table</a>

              <!-- <a class="active" href="tables.html"><span class="icon home"></span>Table</a> -->
              <!-- <span class="msg-counter">7</span> -->
            </li>


            <li>
              <a class="show-cat-btn" href="index.html">
                <i class="fa-solid fa-envelope"></i> Form
                <span class="category__btn transparent-btn" title="Open list">
                  <span class="sr-only">Open list</span>
                  <!-- <span class="icon arrow-down" aria-hidden="true"></span> -->
                  <i class="fa-solid fa-angle-down"></i>
                </span>
              </a>
              <ul class="cat-sub-menu">
                <li>
                  <a href="formm.html">Form-01</a>
                </li>
                <li>
                  <a href="form2.html">Form-02</a>
                </li>
              </ul>
            </li>

          </ul>
          <span class="system-menu__title">system</span>
          <ul class="sidebar-body-menu">

            <li>

              <ul class="cat-sub-menu">
                <li>
                  <a href="extention-01.html">Extentions-01</a>
                </li>
                <li>
                  <a href="extention-02.html">Extentions-02</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="##"><i class="fa-solid fa-gear"></i> Setting</a>
            </li>
          </ul>
        </div>
      </div>

    </aside>
    <div class="main-wrapper">
      <!-- ! Main nav -->
      <nav class="main-nav--bg">
        <div class="container main-nav">
          <div class="main-nav-start">

          </div>
          <div class="main-nav-end">
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
              <span class="sr-only">Toggle menu</span>

              <i class="fa-solid fa-bars"></i>

            </button>


            <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
              <span class="sr-only">To messages</span>
              <span class="icon notification active" aria-hidden="true"></span>
            </button>
            <ul class="users-item-dropdown notification-dropdown dropdown">
              <li>
                <a href="##">
                  <div class="notification-dropdown-icon info">
                    <i data-feather="check"></i>
                  </div>
                  <div class="notification-dropdown-text">
                    <span class="notification-dropdown__title">System just updated</span>
                    <span class="notification-dropdown__subtitle">The system has been successfully upgraded. Read more
                      here.</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="##">
                  <div class="notification-dropdown-icon danger">
                    <i data-feather="info" aria-hidden="true"></i>
                  </div>
                  <div class="notification-dropdown-text">
                    <span class="notification-dropdown__title">The cache is full!</span>
                    <span class="notification-dropdown__subtitle">Unnecessary caches take up a lot of memory space and
                      interfere ...</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="##">
                  <div class="notification-dropdown-icon info">
                    <i data-feather="check" aria-hidden="true"></i>
                  </div>
                  <div class="notification-dropdown-text">
                    <span class="notification-dropdown__title">New Subscriber here!</span>
                    <span class="notification-dropdown__subtitle">A new subscriber has subscribed.</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="link-to-page" href="##">Go to Notifications page</a>
              </li>
            </ul>
          </div> -->
          <div class="nav-user-wrapper">
            <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
              <span class="sr-only">My profile</span>
              <span class="nav-user-img">
                <picture>
                  <source srcset="./img/avatar/avatar-illustrated-02.webp" type="image/webp"><img
                    src="./img/avatar/avatar-illustrated-02.png" alt="User name">
                </picture>
              </span>
            </button>
            <ul class="users-item-dropdown nav-user-dropdown dropdown">
              <li><a href="##">
                  <i data-feather="user" aria-hidden="true"></i>
                  <span>Profile</span>
                </a></li>
              <li><a href="##">
                  <i data-feather="settings" aria-hidden="true"></i>
                  <span>Account settings</span>
                </a></li>
              <li><a class="danger" href="##">
                  <i data-feather="log-out" aria-hidden="true"></i>
                  <span>Log out</span>
                </a></li>
            </ul>
          </div>
        </div>
    </div>
    </nav>
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h1 align="center" class="main-title">Form -1</h1>

        <!-- <h2 class="main-title">Dashboard</h2> -->
        <section class="ftco-section">

          <div class="container">


            <div class="row">
              <!-- <h1 class="main-title">Form</h1> -->
              <div class="col-md-6 text-center mb-5">

                <!-- <h2 class="heading-section">Table</h2> -->
              </div>
            </div>
            <div class="row">
              <main class="main users chart-page" id="skip-target">
                <div class="container">
                  <!-- <h1 align="center" class="main-title">Form</h1> -->

                  <div class="bb-design">
                    <form class="row g-3">
                      <div class="col-md-6">
                        <label for="inputCity" class="form-label">First Name</label>
                        <input type="text" placeholder="First Name" class="form-control" id="inputCity">
                      </div>
                      <div class="col-md-6">
                        <label for="inputCity" class="form-label">Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control" id="inputCity">
                      </div>


                      <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" placeholder="Email" class="form-control" id="inputEmail4">
                      </div>


                      <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" placeholder="Password" class="form-control" id="inputPassword4">
                      </div>


                      <div class="col-md-4">
                        <label for="number" class="form-label">Mobile</label>
                        <input type="number" class="form-control" placeholder="Mobile" id="number">
                      </div>


                      <div class="col-md-4">
                        <label for="number" class="form-label">Telephone</label>
                        <input type="number" class="form-control" placeholder="Telephone" id="inputCity">
                      </div>

                      <div class="col-md-4">
                        <label for="inputCity" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" placeholder="Zip Code" id="inputCity">
                      </div>


                      <div class="col-md-4">
                        <label for="inputCity" class="form-label">Reference Number</label>
                        <input type="number" class="form-control timepicker" placeholder="Reference Number"
                          id="input_starttime">
                      </div>

                      <div class="col-md-4">
                        <label for="inputCity" class="form-label">Reference Code</label>
                        <input type="text" class="form-control" placeholder="Reference Code" id="inputCity">
                      </div>

                      <div class="col-md-4">
                        <label for="inputCity" class="form-label">Color</label>
                        <input type="color" class="form-control" id="inputCity">
                      </div>


                      <div class="col-6">
                        <label for="inputAddress" class="form-label">Address 1</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                      </div>
                      <div class="col-6">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Address">
                      </div>


                      <div class="col-md-6">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                          <!-- <option selected>Choose...</option> -->
                          <option>Pakitsan +92</option>
                          <option>India +91</option>
                          <option>Sri Lanka +95</option>
                          <option>Bangladesh +90</option>
                          <option>Afghanistan +93</option>

                        </select>
                      </div>

                      <div class="col-md-6">
                        <label for="inputState" class="form-label">Language</label>
                        <select id="inputState" class="form-select">
                          <!-- <option selected>Choose</option> -->
                          <option>English</option>
                          <option>Urdu</option>
                          <option>Hindi</option>
                          <option>Spanish</option>
                          <option>German</option>
                          <option>Bangali</option>
                          <option>Saudi</option>
                        </select>
                      </div>


                      <div class="col-md-4">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                          <label class="form-check-label" for="flexRadioDefault1">Male</label>
                        </div>


                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked />
                          <label class="form-check-label" for="flexRadioDefault2">Female</label>
                        </div>
                      </div>


                      <div class="col-md-4">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                          <label class="form-check-label" for="flexRadioDefault1">Radio Button</label>
                        </div>


                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked />
                          <label class="form-check-label" for="flexRadioDefault2">Radio Button</label>
                        </div>
                      </div>


                      <div class="col-md-4">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Checkbox
                          </label>
                        </div>

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Checkbox
                          </label>
                        </div>
                      </div>


                      <div class="custom-control form-check custom-checkbox">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="custom-control-label form-check-label" for="customCheck1">Check this custom
                          checkbox</label>
                      </div>
                      <div class="custom-control form-check custom-checkbox">
                        <input type="checkbox" class="form-check-input" id="customCheck2">
                        <label class="custom-control-label form-check-label" for="customCheck2">Check this custom
                          checkbox</label>
                      </div>
                      <div class="custom-control form-check custom-checkbox">
                        <input type="checkbox" class="form-check-input" id="customCheck3">
                        <label class="custom-control-label form-check-label" for="customCheck3">Check this custom
                          checkbox</label>
                      </div>
                      <div class="custom-control form-check custom-checkbox">
                        <input type="checkbox" class="form-check-input" id="customCheck4">
                        <label class="custom-control-label form-check-label" for="customCheck4">Check this custom
                          checkbox</label>
                      </div>
                  </div> -->

                  <div class="col-md-4">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date">
                  </div>

                  <div class="col-md-4">
                    <label for="time">Time:</label>
                    <input type="time" id="time" name="time">
                  </div>

                  <div class="col-md-4">
                    <label for="week">Week:</label>
                    <input type="week" id="week" name="week">
                  </div>


                  <div class="form-outline col-12 ">
                    <label class="form-label" for="textAreaExample6">Message</label>
                    <textarea class="form-control" id="textAreaExample6" placeholder="Your Message" rows="5"></textarea>
                  </div>

                  <div class="red-btn">
                    <input type="Submit">


                  </div>




                  </form>
                </div>

            </div>
    </main>
  </div>
  </div>
  </section>
  <div class="row">
  </div>
  </div>
  </main>
  <!-- ! Footer -->
  <footer class="footer">
    <div class="container footer--flex">
      <div class="footer-start">
        <p>2021 © Elegant Dashboard - <a href="elegant-dashboard.com" target="_blank"
            rel="noopener noreferrer">elegant-dashboard.com</a></p>
      </div>
      <ul class="footer-end">
        <li><a href="##">About</a></li>
        <li><a href="##">Support</a></li>
        <li><a href="##">Puchase</a></li>
      </ul>
    </div>
  </footer>
  </div>
  </div>
  <!-- Chart library -->
  <script src="./plugins/chart.min.js"></script>
  <!-- Icons library -->
  <script src="plugins/feather.min.js"></script>
  <!-- Custom scripts -->
  <script src="js/script.js"></script>
</body>

</html>